body textarea {
  width: 350px;
  padding: 10px;
  display: flex;
}

body {
  flex-direction: column;
  align-items: flex-start;
  background-color: #333;
  color: #fff;
}

textarea {
  background-color: #444;
  padding-left: 0px;
  border: none;
  color: #fff;
  resize: vertical;
  max-height: 420px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 3px;

  --l: 20px;
  line-height: var(--l);
}

textarea:disabled {
  color: gray;
}

.switch {
  cursor: pointer;
}

#toggleButton {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.slider {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.slider::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:checked+.slider::before {
  transform: translateX(20px);
}

input[type="checkbox"] {
  display: none;
}

.button-container,
.checkbox-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.checkbox-container {
  /* margin-top: -30px; */
}

input[type="checkbox"].custom-checkbox {
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

input[type="checkbox"].custom-checkbox+span::before {
  cursor: pointer;
  background-color: #ccc;
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  margin-left: 2px;
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

input[type="checkbox"]:disabled.custom-checkbox+span::before {
  cursor: default;
  background-color: gray;
}

input[type="checkbox"]:checked.custom-checkbox+span::before {
  mask: none;
  -webkit-mask: none;
  background-repeat: no-repeat;
  background-position: 2px 2px;
  background-color: #2196F3;
  border-radius: 3px;
}

input[type="checkbox"]:disabled:checked.custom-checkbox+span::before {
  background-color: #ddd;
}

input[type="checkbox"].mode-regexp+span::before {
  -webkit-mask: url("../img/regex.svg") no-repeat center center;
  mask: url("../img/regex.svg") no-repeat center center;
}

input[type="checkbox"]:checked.mode-regexp+span::before {
  background-image: url("../img/regex.svg");
}

input[type="checkbox"].case-sensitive+span::before {
  -webkit-mask: url("../img/case-sensitive.svg") no-repeat center center;
  mask: url("../img/case-sensitive.svg") no-repeat center center;
}

input[type="checkbox"]:checked.case-sensitive+span::before {
  background-image: url("../img/case-sensitive.svg");
}

input[type="checkbox"].show-value+span::before {
  -webkit-mask: url("../img/comment.svg") no-repeat center center;
  mask: url("../img/comment.svg") no-repeat center center;
}

input[type="checkbox"]:checked.show-value+span::before {
  background-image: url("../img/comment.svg");
}

input[type="checkbox"].blur-input+span::before {
  -webkit-mask: url("../img/symbol-string.svg") no-repeat center center;
  mask: url("../img/symbol-string.svg") no-repeat center center;
}

input[type="checkbox"]:checked.blur-input+span::before {
  background-image: url("../img/symbol-string.svg");
}

input[type="checkbox"].blur-title+span::before {
  -webkit-mask: url("../img/tab-title.svg") no-repeat center center;
  mask: url("../img/tab-title.svg") no-repeat center center;
}

input[type="checkbox"]:checked.blur-title+span::before {
  background-image: url("../img/tab-title.svg");
}

#applyButton {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

#_bufferTextArea {
  border: none;
  height: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

div#linkContainer {
  bottom: 10px;
  left: 10px;
  font-size: small;
  width: inherit;
}

div#linkContainer a {
  color: #1191ff;
  text-decoration: underline;
}

div#linkContainer a>img {
  filter: invert(44%) sepia(75%) saturate(3284%) hue-rotate(191deg) brightness(102%) contrast(100%);
  height: 20px;
}

textarea#exclusionInput {
  margin-top: 7px;
}

div.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.tab-label-heading:not(:last-of-type) .tab-label {
  margin-right: 2px !important;
}

input[name="tab-radio"] {
  display: none;
}

.tab-label {
  display: block;
  top: 2px;
  position: relative;
  float: left;
  color: #525252 !important;
  cursor: pointer !important;
  padding: 4px 8px 1px 8px !important;
  border-radius: 6px 6px 0 0;
  border-style: solid;
  border-color: #525252 #525252 white #525252 !important;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  z-index: 0;
  background-color: #333;
}

input:checked+h4>.tab-label {
  color: unset !important;
  border-color: unset !important;
  border-bottom-width: 0px;
  padding-bottom: 4px !important;
  top: 0px;
  z-index: 2;
}

.tab-panel {
  padding: 30px 5px 5px 5px;
  display: none;
  z-index: -1;
}

.tab-panel::after {
  position: absolute;
  top: 71px;
  bottom: 38px;
  left: 8px;
  right: 8px;
  border: 1px solid white;
  content: '';
  z-index: 1;
  border-radius: 0px 0px 5px 5px;
  pointer-events: none;
}

#tab-keywords:checked~#tab-panel-keywords,
#tab-exclusion:checked~#tab-panel-exclusion {
  display: block;
}

div.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

span#addUrlsInCurrentTab {
  color: #1191ff;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: -10px;
  cursor: pointer;
}