body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 10px;
  width: 350px;
  background-color: #333;
  color: #fff;
}

.control {
  margin-bottom: 15px;
}

.button-container {
  text-align: right;
  margin-top: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

select,
textarea {
  width: 100%;
  padding: 8px;
  border: none;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  font-family: inherit;
}

select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url('arrow-down-icon.png');
  background-size: 12px;
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}

textarea {
  resize: vertical;
  width: calc(100% - 16px)
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
