.blurred {
  filter: blur(5px);
}

.mask {
  border: none;
  overflow: hidden;
}

#__inputClone, .mask, .backgroundLayer, .textLayer {
  position: absolute;
  top: 0px;
  left: 0px;
  border: none;
}

#__inputClone {
  visibility: hidden;
}